USE [master]
GO
/****** Object:  Database [projeto-pf]    Script Date: 15/06/2025 15:38:51 ******/
CREATE DATABASE [projeto-pf]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projeto-pf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\projeto-pf.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'projeto-pf_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\projeto-pf_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projeto-pf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projeto-pf]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 15/06/2025 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](50) NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[DataAtualizacao] [datetime] NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cidades]    Script Date: 15/06/2025 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](80) NOT NULL,
	[DDD] [nvarchar](3) NOT NULL,
	[IdEstado] [int] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[DataAtualizacao] [datetime] NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 15/06/2025 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoPessoa] [varchar](10) NOT NULL,
	[NomeRazaoSocial] [varchar](50) NOT NULL,
	[ApelidoNomeFantasia] [varchar](40) NULL,
	[DataNascimentoCriacao] [datetime] NULL,
	[CpfCnpj] [varchar](18) NULL,
	[RgInscricaoEstadual] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[Telefone] [varchar](20) NULL,
	[Rua] [varchar](40) NULL,
	[Numero] [varchar](10) NULL,
	[Bairro] [varchar](40) NULL,
	[IdCidade] [int] NOT NULL,
	[Cep] [varchar](10) NULL,
	[Classificacao] [varchar](20) NULL,
	[CondicaoPagamentoId] [int] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[DataAtualizacao] [datetime] NULL,
	[Complemento] [varchar](40) NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CondicaoPagamentoParcelas]    Script Date: 15/06/2025 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CondicaoPagamentoParcelas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCondicaoPagamento] [int] NOT NULL,
	[IdFormaPagamento] [int] NOT NULL,
	[NumParcela] [int] NOT NULL,
	[Prazo] [int] NOT NULL,
	[Porcentagem] [decimal](18, 2) NOT NULL,
	[DataCriacao] [datetime] NULL,
	[DataAtualizacao] [datetime] NOT NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CondicaoPagamentos]    Script Date: 15/06/2025 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CondicaoPagamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](50) NOT NULL,
	[TaxaJuros] [decimal](5, 2) NOT NULL,
	[Multa] [decimal](5, 2) NOT NULL,
	[DataCriacao] [datetime] NULL,
	[DataAtualizacao] [datetime] NOT NULL,
	[Desconto] [decimal](18, 2) NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 15/06/2025 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](80) NOT NULL,
	[UF] [nvarchar](2) NOT NULL,
	[IdPais] [int] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[DataAtualizacao] [datetime] NOT NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormaPagamentos]    Script Date: 15/06/2025 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormaPagamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](40) NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[DataAtualizacao] [datetime] NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_FormaPagamentos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fornecedores]    Script Date: 15/06/2025 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoPessoa] [varchar](10) NOT NULL,
	[NomeRazaoSocial] [varchar](50) NOT NULL,
	[ApelidoNomeFantasia] [varchar](40) NULL,
	[DataNascimentoCriacao] [datetime] NULL,
	[CpfCnpj] [varchar](18) NULL,
	[RgInscricaoEstadual] [varchar](15) NULL,
	[Email] [varchar](100) NOT NULL,
	[Telefone] [varchar](20) NOT NULL,
	[Rua] [varchar](40) NOT NULL,
	[Numero] [varchar](10) NOT NULL,
	[Bairro] [varchar](40) NOT NULL,
	[IdCidade] [int] NOT NULL,
	[Cep] [varchar](10) NOT NULL,
	[Classificacao] [varchar](20) NULL,
	[CondicaoPagamentoId] [int] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[DataAtualizacao] [datetime] NOT NULL,
	[ValorMinimoPedido] [decimal](18, 2) NOT NULL,
	[Complemento] [varchar](40) NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 15/06/2025 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [varchar](20) NOT NULL,
	[NomeRazaoSocial] [varchar](50) NOT NULL,
	[ApelidoNomeFantasia] [varchar](40) NULL,
	[DataNascimentoCriacao] [datetime] NULL,
	[Email] [varchar](100) NOT NULL,
	[Telefone] [varchar](20) NOT NULL,
	[Rua] [varchar](40) NOT NULL,
	[Numero] [varchar](10) NOT NULL,
	[Bairro] [varchar](40) NOT NULL,
	[Cep] [varchar](10) NULL,
	[IdCidade] [int] NOT NULL,
	[CpfCnpj] [varchar](18) NOT NULL,
	[RgInscricaoEstadual] [varchar](15) NULL,
	[Classificacao] [varchar](20) NULL,
	[Cargo] [varchar](20) NOT NULL,
	[Salario] [decimal](10, 2) NOT NULL,
	[DataAdmissao] [date] NOT NULL,
	[Turno] [varchar](20) NOT NULL,
	[CargaHoraria] [varchar](20) NOT NULL,
	[DataDemissao] [date] NULL,
	[DataCriacao] [datetime] NOT NULL,
	[DataAtualizacao] [datetime] NULL,
	[COMPLEMENTO] [varchar](40) NULL,
	[TipoPessoa] [varchar](20) NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 15/06/2025 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](50) NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[DataAtualizacao] [datetime] NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 15/06/2025 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](40) NOT NULL,
	[Sigla] [nvarchar](5) NOT NULL,
	[DDI] [nvarchar](5) NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[DataAtualizacao] [datetime] NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 15/06/2025 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[IdUnidadeMedida] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdFornecedor] [int] NOT NULL,
	[IdMarca] [int] NULL,
	[Estoque] [decimal](10, 2) NOT NULL,
	[PrecoCusto] [decimal](10, 2) NOT NULL,
	[PrecoVenda] [decimal](10, 2) NOT NULL,
	[CustoUltimaCompra] [decimal](10, 2) NULL,
	[Observacao] [text] NULL,
	[DataCriacao] [datetime] NOT NULL,
	[DataAtualizacao] [datetime] NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnidadeMedidas]    Script Date: 15/06/2025 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadeMedidas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](50) NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[DataAtualizacao] [datetime] NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cidades] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [DataAtualizacao]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[CondicaoPagamentoParcelas] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[CondicaoPagamentos] ADD  DEFAULT ((0.00)) FOR [TaxaJuros]
GO
ALTER TABLE [dbo].[CondicaoPagamentos] ADD  DEFAULT ((0.00)) FOR [Multa]
GO
ALTER TABLE [dbo].[CondicaoPagamentos] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[CondicaoPagamentos] ADD  DEFAULT (getdate()) FOR [DataAtualizacao]
GO
ALTER TABLE [dbo].[CondicaoPagamentos] ADD  DEFAULT ((0)) FOR [Desconto]
GO
ALTER TABLE [dbo].[CondicaoPagamentos] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Estados] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[FormaPagamentos] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Fornecedores] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Funcionarios] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Paises] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Cidades]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Cidade] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[Cidades] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Cidade]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_CondicaoPagamentoCliente] FOREIGN KEY([CondicaoPagamentoId])
REFERENCES [dbo].[CondicaoPagamentos] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_CondicaoPagamentoCliente]
GO
ALTER TABLE [dbo].[CondicaoPagamentoParcelas]  WITH CHECK ADD  CONSTRAINT [FK_CondicaoPagamento] FOREIGN KEY([IdCondicaoPagamento])
REFERENCES [dbo].[CondicaoPagamentos] ([Id])
GO
ALTER TABLE [dbo].[CondicaoPagamentoParcelas] CHECK CONSTRAINT [FK_CondicaoPagamento]
GO
ALTER TABLE [dbo].[CondicaoPagamentoParcelas]  WITH CHECK ADD  CONSTRAINT [FK_FormaPagamento] FOREIGN KEY([IdFormaPagamento])
REFERENCES [dbo].[FormaPagamentos] ([Id])
GO
ALTER TABLE [dbo].[CondicaoPagamentoParcelas] CHECK CONSTRAINT [FK_FormaPagamento]
GO
ALTER TABLE [dbo].[Estados]  WITH CHECK ADD FOREIGN KEY([IdPais])
REFERENCES [dbo].[Paises] ([Id])
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [FK_Funcionarios_Cidades] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[Cidades] ([Id])
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [FK_Funcionarios_Cidades]
GO
ALTER TABLE [dbo].[Produtos]  WITH CHECK ADD  CONSTRAINT [FK_Produtos_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Produtos] CHECK CONSTRAINT [FK_Produtos_Categoria]
GO
ALTER TABLE [dbo].[Produtos]  WITH CHECK ADD  CONSTRAINT [FK_Produtos_Fornecedor] FOREIGN KEY([IdFornecedor])
REFERENCES [dbo].[Fornecedores] ([Id])
GO
ALTER TABLE [dbo].[Produtos] CHECK CONSTRAINT [FK_Produtos_Fornecedor]
GO
ALTER TABLE [dbo].[Produtos]  WITH CHECK ADD  CONSTRAINT [FK_Produtos_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([Id])
GO
ALTER TABLE [dbo].[Produtos] CHECK CONSTRAINT [FK_Produtos_Marca]
GO
ALTER TABLE [dbo].[Produtos]  WITH CHECK ADD  CONSTRAINT [FK_Produtos_UnidadeMedida] FOREIGN KEY([IdUnidadeMedida])
REFERENCES [dbo].[UnidadeMedidas] ([Id])
GO
ALTER TABLE [dbo].[Produtos] CHECK CONSTRAINT [FK_Produtos_UnidadeMedida]
GO
USE [master]
GO
